/*SCREEN SEARCH FILTERS*/

@media (min-width: 801px)
{
  .container.template1 > *{
    background-color:white !important;
    background: white !important;
    color: black !important;
    border: solid 1px #d5d5d5;
  }
  .container.template1 > div {
    border: none !important;
  }
  
  .split::before {
    background: black !important;
  }
  .dropdown .container .item {
    padding: 0 10px 0px 3px !important;
    height: 32px !important;
    line-height: 13px !important;
    cursor: pointer;
    text-align: left !important;
    max-width: none !important;
  }
  .outside-range .dropdown_container .container.template1 * {
    max-width: none !important;
  }
  
}
/*MOBILE SEARCH AND FILTERS *MORE* BUTTON*/

@media (max-width: 800px) {
  .md-search-tag.template1:not(.simple)>.header {
    color: white !important;
  }
  .map-box {
    background: rgba(43, 43, 43, 1) !important;
  }
  .btn.cancel, .btn.submit {
    background: rgba(43, 43, 43, 1) !important;
    border: none !important;
    color: white !important;
  }
  .operation_wrap {
    background: rgba(70, 70, 70, 1) !important;
  }
  
  ul.input_wrap {
    background: rgba(70, 70, 70, 1) !important;
  }
  span.prepend.money_prepend {
    color: white !important;
  }
  li.option_item.template1 {
    background: rgba(70, 70, 70, 1) !important;
    color: white !important;
  }
  .search-mobile {
      background: rgba(70, 70, 70, 1) !important;
    }
  .md-listing-search.template1 .search-mobile .input-container {
    background: rgba(43, 43, 43, 1) !important;
    border: none !important;
  }
  .md-search-tag.template1.simple .search-filter {
        background: rgba(43, 43, 43, 1) !important;
    border: none !important;
  }
  .md-listing-search.template1 .search-mobile .input-container .icon-search-bold {
    color: white !important;
  }
  .md-listing-search.template1 .search-mobile .button-layout.mode {
    background: rgba(43, 43, 43, 1);
  }
  ul.nav_wrap {
    background: rgba(70, 70, 70, 1) !important;
  }
  .reference {
    background: rgba(43, 43, 43, 1) !important;
    border: none !important;
    color: white !important;
  }
  li.nav_item.more_item {
    background: rgba(43, 43, 43, 1) !important;
    border: none !important;
    color: white !important;
}
  .md-listing-search.template1 .search-content>.header {
    background: rgba(70,70,70,1) !important;
    color: white !important;
  }
  .md-listing-search.template1 .search-content>.header .back {
    color: white !important;
  }
  .md-listing-search.template1 .search-content>.header .reset {
    color: white !important;
  }
  .md-listing-search.template1 .search-content .oper-btns {
    background: rgba(70,70,70,1) !important;
    color: white !important;
  }
  .md-listing-search.template1 .search-content .oper-btns .btn.save-search {
    background: rgba(43,43,43,1) !important;
    color: white !important;
    border: none !important;
  }
  .select-virtual.template1 .select-input
  {
    color: white !important;
    background: rgba(43,43,43,1) !important;
    border: none !important;

  }
  .md-search-more-center.template1 .keyword {
    border:none !important;
  }
  span.iconfont.icon-arrow-down {
    color: white !important;
  }
  /*
  .md-search-more-center.template1 .inputtext-area:nth-child(1) {
      display:none !important;
    }
    */
  .md-search-more-center.template1 .text {
    color: white !important;
  }


  label.select-text.type-input {
    color: white !important;
  }

  .title_mid {
    color: white !important;
  }

  .label.no_wrap {
    color: white !important;
  }

  .input-box.template1 .title_container .advance {
    color: white !important;
  }

  .input_container.template1 {
    background: rgba(43,43,43,1) !important;
    border: none !important;
  }

  .input_wrap .input.left {
    color: white !important;
  }

  .input_wrap .input.right {
    color: white !important;
  }

  span.label.cursor {
    color: white !important;
  }
}

/*MAP+GRID*/

.md-search.template1.map.hide-below{
  padding: 0 !important;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white !important;
  opacity: .5 !important; /* Firefox */
}

.md-search-more-center.template1 {
  background: rgba(70, 70, 70, 1) !important;
  margin: 0 !important;
}

input.search-input {
  background: rgba(43,43,43,1) !important;
  color: white !important; 
}

/*Removes PROPERTY TYPE div from search parameters*/
.md-search-more-center.template1 .search-more .search-detail-wrap :nth-child(4) {
  display: none !important;
}

.md-search-more-center.template1 .search-by-section .keyword-container .search-category {
  border: none !important;
}

.search-category{
  background: rgba(43,43,43,1) !important;
}

.search-detail-item {
  background: rgba(43,43,43,1) !important;
  border: none !important;
  color: white !important; 
  transition: background .5s ease;
}

.search-detail-item:hover, .search-detail-item:hover .more-btn {
  background: rgba(184,184,184,1) !important;
}

.md-search-more-center.template1 .search-by-section .save-search  {
  background: rgba(43,43,43,1) !important;
  border: none !important;
  color: white !important;
  font-family: font-Lato-400 !important;
  font-size: 14px !important;
  transition: background .5s ease;
}

.save-search:hover {
  background: rgba(184,184,184,1);
}

.search-detail-item.more-btn *{
  cursor: pointer !important;
  color: white !important;
}

.md-search-more-center.template1 .search-by-section .keyword-container .search-category .keyword-submit .icon-search {
  color: white !important;
}

/*GRID COMPUTER RIGHT SIDE*/

.md-search-result.template1 .search-result-container.right {
  background: linear-gradient(90deg, rgba(43,43,43,1) 25%, rgba(70,70,70,1) 55%) !important;
}

.md-search-result.template1 .search-result-container .search-result-header .search-text  {
  color: white !important;
  font-family: font-Lato-400 !important;
  font-weight: normal;
}

.box-div .title label.text
{
  color: white !important;
}

.click-show-list.select.single, .switch-item.map.active, .switch-item.list, .switch-item.grid{
  background: rgba(43,43,43,1) !important;
  border: none !important;
  color: white !important;
}

a.crumb_item {
  color: rgba(184,184,184,1) !important;
}
.crumbs.template1 .content {
  border: none !important;
}

.crumbs.template1 .content .right {
  color: rgba(184,184,184,1) !important;
}

/*PAGE NUMBERS*/
li.active.page-num {
  color: white !important;
}

li.page-num {
  color: rgba(184,184,184,1) !important;
}

li.iconfont.icon-arrow-up.page-left {
  color: white !important;
}

li.iconfont.icon-arrow-up.page-right {
  color: white !important;
}


/*HOUSES GRID */

li.house-grid-item.template1, .house-list-item.template1 {
  border: none !important;
  background: rgba(70, 70, 70, 1) !important;
}
.house-basic.clearfix {
  border: none !important;
  background: rgba(70, 70, 70, 1) !important;
  color: white !important;
}

i.iconfont.icon-heart{
  color: white !important;
}

h3.house-address {
  color: white !important;
  font-family: font-Lato-400 !important;
  font-weight: normal;
}

p.house-provided.ws-pre-wrap {
  color: rgba(184,184,184,1) !important;
}


/*MAP TOOLS*/
.map-tool, .map-tool .btn, .map-tool .btn *, .nearby.map-tool *, .zoom.standard.map-tool *{
  color: white !important;
  background: rgba(43,43,43,1) !important;
}

.zoom-in:after, .zoom-in:before, .zoom-out:after {
  background-color: white !important;
}

/*EXPLORE LISTINGS AND EXPLORE NEIGHBORHOODS*/

.explore-listings.mg-container.template2-listing-map, .explore-nbr.mg-container.template2-listing-map, .search-seo-container {
display:none !important;
}


/*MAP DISABLED: MAP BUTTON*/

.md-search-result.template1 .search-result-container .search-result-header .search-choose .search-switch .switch-item:hover, .md-search-result.template1 .search-result-container .search-result-header .search-choose .search-switch .switch-item.active, .md-search-result.template1 .search-result-container .search-result-header .search-choose .search-switch .switch-item.side-active {
  background-color: rgba(43,43,43,1) !important;
} 

/*MAP DISABLED: SEARCH BAR*/

.md-search.template1.list.hide-below {
  padding: 0px !important;
}

.md-search.template1.grid.hide-below {
  padding: 0px !important;
}

/*MAP DISABLED: GRID*/

.md-search-result.template1 {
  background: linear-gradient(90deg, rgba(43,43,43,1) 25%, rgba(70,70,70,1) 55%) !important;
}

.switch-item.map {
  color: white !important;
  border: none !important;
  background: rgba(43,43,43,1);
}


/*MAP DISABLED: LIST*/

.house-list-item.template1 {
  margin: 0 0 20px 0 !important;
  padding: 0px !important;
}

.house-list-item.template1 .detail .desc {
  color: white !important;
}
